<div>
  @let textTable = texts();
  <div class="container">
      <div>
        <div class="explanation">{{ textTable.explanation }}</div>
        <ui5-link
          class="line-height-normal"
          target="_blank"
          href="https://github.com/openmfp/portal-ui-lib/blob/main/README.md#Local-Application-Development"
        >
          {{ textTable.link }}
        </ui5-link>
      </div>

      <div class="is-active-switch">
        <h4 class="line-height-normal">{{ textTable.isDevelopmentModeActive }}</h4>
        <ui5-switch
          class="switch-active"
          [checked]="isActive()"
          (change)="switchIsActive()"
        ></ui5-switch>
      </div>

    <div class="config-input">
      <h4 class="line-height-normal">{{ textTable.urlsInput.title }}</h4>
      <ui5-label class="line-height-normal field-label" for="input-url">
        {{ textTable.urlsInput.label }}
      </ui5-label>
      <ui5-input
        class="line-height-normal field-control"
        id="input-url"
        type="Text"
        placeholder="http://localhost:4200/assets/content-configuration.json"
        aria-required="true"
        [formControl]="urlInput"
      ></ui5-input>
      @if (errors().length) {
        <div class="line-height-normal">{{ textTable.urlsInput.error }}</div>
      }
      <div class="config-input-buttons">
        <ui5-button
          design="Emphasized"
          class="compact-button"
          (click)="addUrl(urlInput.value)"
        >
          {{ textTable.addButton }}
        </ui5-button>
        <ui5-button
          design="Transparent"
          class="compact-button"
          (click)="urlInput.reset()"
        >
          {{ textTable.clearButton }}
        </ui5-button>
      </div>
      <div class="config-list">
        <ui5-list class="config-list-wrapper" separators="Inner">
          @for (
            item of configs();
            track item;
            let ind = $index
          ) {
            <ui5-li-custom class="config-list-item">
              <div class="list-item-row">
                <span class="list-item-text">{{ item.url }}</span>
                <ui5-button
                  class="remove-button"
                  design="Transparent"
                  icon="decline"
                  tooltip="{{ textTable.removeButton }}"
                  (click)="removeUrl(ind)"
                ></ui5-button>
              </div>
            </ui5-li-custom>
          }
        </ui5-list>
      </div>
    </div>

    <div class="config-input line-height-normal">
      <h4 class="line-height-normal">
        {{ textTable.serviceProviderConfig.title }}
      </h4>
      <ui5-label
        class="line-height-normal field-label"
        for="input-key"
      >
        {{ textTable.serviceProviderConfig.explanation }}
      </ui5-label>
      <br />
      <div [formGroup]="serviceProviderForm">
        <ui5-label
          class="line-height-normal field-label"
          for="input-key"
        >
          {{ textTable.serviceProviderConfig.keyInput.label }}
        </ui5-label>
        <ui5-input
          class="line-height-normal field-control"
          id="input-key"
          type="Text"
          placeholder="{{ textTable.serviceProviderConfig.keyInput.placeholder }}"
          aria-required="true"
          [formControl]="serviceProviderForm.controls.key"
        ></ui5-input>
        <br />
        <ui5-label
          class="line-height-normal field-label"
          for="input-value"
        >
          {{ textTable.serviceProviderConfig.valueInput.label }}
        </ui5-label>
        <ui5-input
          class="line-height-normal field-control"
          id="input-value"
          type="Text"
          placeholder="{{ textTable.serviceProviderConfig.valueInput.placeholder }}"
          aria-required="true"
          [formControl]="serviceProviderForm.controls.value"
          ></ui5-input>
      </div>
      <div class="config-input-buttons">
        <ui5-button
          design="Emphasized"
          class="compact-button"
          (click)="
            addServiceProviderConfig(
              serviceProviderForm.controls.key.value,
              serviceProviderForm.controls.value.value
            )
          "
        >
          {{ textTable.addButton }}
        </ui5-button>
        <ui5-button
          design="Transparent"
          class="compact-button"
          (click)="
            serviceProviderForm.reset()
          "
        >
          {{ textTable.clearButton }}
        </ui5-button>
      </div>
      <div class="config-list">
        <ui5-list class="config-list-wrapper" separators="Inner">
          @for (
            item of Object.entries(
              serviceProviderConfig()
            );
            track item[0];
            let ind = $index
          ) {
            <ui5-li-custom class="config-list-item">
              <div class="list-item-row">
                <span class="list-item-text">
                  Key: {{ item[0] }}, Value: {{ item[1] }}
                </span>
                <ui5-button
                  class="remove-button"
                  design="Transparent"
                  icon="decline"
                  tooltip="{{ textTable.removeButton }}"
                  (click)="removeServiceProviderConfig(item[0])"
                ></ui5-button>
              </div>
            </ui5-li-custom>
          }
        </ui5-list>
      </div>
    </div>
  </div>
</div>
