.container {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.explanation {
  line-height: normal;
  padding-bottom: 1rem;
}

.line-height-normal {
  line-height: normal;
}

.is-active-switch {
  display: flex;
  align-items: center;
  gap: 24px;
  padding-top: 1.5rem;
}

.config-list {
  padding: 16px 0;
}

.config-input {
  display: flex;
  flex-direction: column;
}

.config-input-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 16px;
}

.field-label {
  display: inline-block;
  font-weight: 400;
  margin-bottom: -0.125rem;
  color: var(--sapContent_LabelColor, #4a4a4a);
  text-wrap: nowrap;
}

.field-control {
  width: 100%;
  height: 2.25rem;
}

.config-list-wrapper::part(list) {
  background-color: transparent;
  border: none;
  padding: 0;
}

.config-list-item {
  width: 100%;
  padding: 0;
}

.config-list-item::part(native-li) {
  padding: 0;
  background: transparent;
  border: none;
}

.list-item-row {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 16px;
}

.list-item-text {
  flex: 1;
}
