<ui5-dynamic-page #dynamicPage>
  <ui5-dynamic-page-title slot="titleArea">
    <ui5-title slot="heading">
      <div class="title-logo">
        <div>{{ heading }}</div>
        @if (resourceDefinition.ui?.logoUrl) {
          <img
            class="logo"
            src="{{ resourceDefinition.ui.logoUrl }}"
            alt="Logo"
          />
        }
      </div>
    </ui5-title>
    <ui5-text class="title-subheading" slot="subheading">
      This page displays the created
      {{ resourceDefinition.plural }} in your environment
    </ui5-text>

    <ui5-toolbar
      class="title-actions"
      id="actionsBar"
      slot="actionsBar"
      design="Transparent"
    >
      <ui5-toolbar-button
        design="Emphasized"
        text="Create"
      ></ui5-toolbar-button>
    </ui5-toolbar>
  </ui5-dynamic-page-title>
  <slot></slot>
</ui5-dynamic-page>
