.title-logo {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.logo {
  width: 2rem;
  padding: 0 1rem;
}

.title-subheading {
  display: block;
  padding-bottom: 1rem;
}

.title-actions {
  height: auto;
}
